<?xml version="1.0" encoding="UTF-8"?>
<configuration>
<system.webServer>  
<rewrite>  
<rules>  
<rule name="Prevent hotlinking">  
<match url="^.*\.(jpg|png)$" ignoreCase="true" />  
<conditions>  
<add input="{HTTP_REFERER}" pattern="^http://(.*\.)?(imgtop8\.gq)/.*$" negate="false" />
</conditions>  
<action type="Rewrite" url="/img1/t1.jpg" />  
</rule>  


<rule name="linking2">  
<match url="^.*\.(jpg)$" ignoreCase="true" />  
<conditions>  
<add input="{HTTP_REFERER}" pattern="^$" negate="false" />
</conditions>  
<action type="Rewrite" url="/img1/t1.jpg" />  
</rule>  


</rules>  
</rewrite>  
</system.webServer>  

</configuration>