<?xml version="1.0" encoding="UTF-8"?>
<configuration>

<system.webServer>  
<rewrite>  
<rules>  

<rule name="Prevent hotlinking">  
<match url="^.*\.(jpg)$" ignoreCase="true" />  
<conditions>  
<add input="{HTTP_REFERER}" pattern="^http://(.*\.)?1huisuo.net/.*$" negate="true" />
<add input="{HTTP_REFERER}" pattern="38.103.161.162" negate="true" />
<add input="{HTTP_REFERER}" pattern="38.103.161.149" negate="true" />
<add input="{HTTP_REFERER}" pattern="38.103.161.167" negate="true" />
<add input="{HTTP_REFERER}" pattern="38.103.161.152" negate="true" />
<add input="{HTTP_REFERER}" pattern="67.220.92.7" negate="true" />
<add input="{HTTP_REFERER}" pattern="162.252.9.11" negate="true" />
<add input="{HTTP_REFERER}" pattern="38.103.161.148" negate="true" />
<add input="{HTTP_REFERER}" pattern="38.103.161.155" negate="true" />
<add input="{HTTP_REFERER}" pattern="67.220.93.10" negate="true" />
<add input="{HTTP_REFERER}" pattern="67.220.93.4" negate="true" />
<add input="{HTTP_REFERER}" pattern="^http://(.*\.)?sis001.com/.*$" negate="true" />
<add input="{HTTP_REFERER}" pattern="^http://(.*\.)?.sis001.us/.*$" negate="true" />
</conditions>  
<action type="Rewrite" url="/img1/t2.jpg" />  
</rule>  

</rules>  
</rewrite>  
</system.webServer> 

</configuration>
